/MySQL/vsc_mysql.session.sql
/MySQL/.vscode
/vsc_mysql.session.sql
/.vscode
/Exercicio1/node_modules
/ExercicioDesc/node_modules
/ExercicioDesc/out
/Exercicio1/out
/Exercicio2/node_modules
/Exercicio2/out
/ExercicioApi/node_modules
/ExercicioApi/backend/node_modules
/ExercicioApi/backend/dist
/ExercicioApi/frontend/node_modules